<!-- START blogs-widget -->
<div class="blogs-widget">
    <div class="uk-container uk-container-center">
        <div class="blog-title black">From the blog</div>

        <div class="uk-grid">
            <div class="uk-width-medium-1-2">
                <div class="blog-widget__date blue-color"><span class="blog-widget__date-number">19</span> / February</div>
                <div class="blog-widget__image-wrapper">
                    <img alt="" src="http://placehold.it/300x200" class="blog-widget__image fullscreen-image" />
                </div>
                <div class="blog-widget__title"><a href="#">UX Design</a></div>
                <div class="blog-widget__content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea illum, minus nihil officiis omnis quaerat saepe sunt voluptatum! Quasi, temporibus.</p>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <div class="blog-widget__date blue-color"><span class="blog-widget__date-number">19</span> / February</div>
                <div class="blog-widget__image-wrapper">
                    <img alt="" src="http://placehold.it/300x200" class="blog-widget__image fullscreen-image" />
                </div>
                <div class="blog-widget__title"><a href="#">UX Design</a></div>
                <div class="blog-widget__content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea illum, minus nihil officiis omnis quaerat saepe sunt voluptatum! Quasi, temporibus.</p>
                </div>
            </div>
        </div>
        <div class="blogs-widget__see-all">
            <a href="#" class="blue-button">See all Posts</a>
        </div>
    </div>
</div>
<!-- // END blogs-widget -->