<!-- START blogs-widget -->
<div class="blogs-widget">
    <div class="uk-container uk-container-center">
        <div class="block-title black mb30">From the blog</div>

        <div class="uk-grid">
            <div class="uk-width-medium-1-2 mb30">
                <div class="blog-widget__date mb20 blue-color"><span class="blog-widget__date-number fz60">19</span> / February</div>
                <div class="blog-widget__image-wrapper mb20">
                    <img alt="" src="http://placehold.it/300x200" class="blog-widget__image fullscreen-image" />
                </div>
                <div class="blog-widget__title fz18 mb20"><a class="blue-link" href="#">UX Design</a></div>
                <div class="blog-widget__content standard-grey-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea illum, minus nihil officiis omnis quaerat saepe sunt voluptatum! Quasi, temporibus.</p>
                </div>
            </div>
            <div class="uk-width-medium-1-2 mb30">
                <div class="blog-widget__date mb20 blue-color"><span class="blog-widget__date-number fz60">19</span> / February</div>
                <div class="blog-widget__image-wrapper mb20">
                    <img alt="" src="http://placehold.it/300x200" class="blog-widget__image fullscreen-image" />
                </div>
                <div class="blog-widget__title fz18 mb20"><a class="blue-link" href="#">UX Design</a></div>
                <div class="blog-widget__content standard-grey-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea illum, minus nihil officiis omnis quaerat saepe sunt voluptatum! Quasi, temporibus.</p>
                </div>
            </div>
        </div>
        <div class="blogs-widget__see-all">
            <a href="#" class="blue-button">See all Posts</a>
        </div>
    </div>
</div>
<!-- // END blogs-widget -->