<!-- START features -->
<div class="features grey-bg section">
    <div class="uk-container-center uk-container">
        <div class="block-title dark-grey mb30">Наши преимущества</div>
        <div class="uk-grid">
            <div class="uk-width-medium-1-2 mb30">
                <div class="features-item">
                    <i class="icon-desktop blue-color fz60 left mr25"></i>
                    <div class="features-content">
                        <p class="features-title fz18 blue-color mb10">Extensive Documentation</p>
                        <div class="features-text fz15">
                            <p>We provide our clients with detailed documentation on correct
                                operation of their web sites.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-2 mb30">
                <div class="features-item">
                    <i class="icon-desktop blue-color fz60 left mr25"></i>
                    <div class="features-content">
                        <p class="features-title fz18 blue-color mb10">Extensive Documentation</p>
                        <div class="features-text fz15">
                            <p>We provide our clients with detailed documentation on correct
                                operation of their web sites.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-2 mb30">
                <div class="features-item">
                    <i class="icon-desktop blue-color fz60 left mr25"></i>
                    <div class="features-content">
                        <p class="features-title fz18 blue-color mb10">Extensive Documentation</p>
                        <div class="features-text fz15">
                            <p>We provide our clients with detailed documentation on correct
                                operation of their web sites.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-2 mb30">
                <div class="features-item">
                    <i class="icon-desktop blue-color fz60 left mr25"></i>
                    <div class="features-content">
                        <p class="features-title fz18 blue-color mb10">Extensive Documentation</p>
                        <div class="features-text fz15">
                            <p>We provide our clients with detailed documentation on correct
                                operation of their web sites.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-2 mb30">
                <div class="features-item">
                    <i class="icon-desktop blue-color fz60 left mr25"></i>
                    <div class="features-content">
                        <p class="features-title fz18 blue-color mb10">Extensive Documentation</p>
                        <div class="features-text fz15">
                            <p>We provide our clients with detailed documentation on correct
                                operation of their web sites.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-2 mb30">
                <div class="features-item">
                    <i class="icon-desktop blue-color fz60 left mr25"></i>
                    <div class="features-content">
                        <p class="features-title fz18 blue-color mb10">Extensive Documentation</p>
                        <div class="features-text fz15">
                            <p>We provide our clients with detailed documentation on correct
                                operation of their web sites.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // END features -->