<!-- START feedbacks -->
<div class="feedbacks" data-uk-slider>
    <div class="uk-container uk-container-center">
        <div class="feedbacks-units">
            <div class="uk-slidenav-position uk-slider-container">
                <div class="block-title blue-color mb30">Что говорят люди о нас</div>
                <div class="uk-slider">
                    <div class="feedbacks-item">
                        <div class="uk-grid">
                            <div class="uk-width-medium-1-2 tac">
                                <div class="feedbacks-item__avatar-wrapper mb30">
                                    <img alt="" src="http://placehold.it/200x200" class="feedbacks-item__avatar"/>
                                </div>
                                <div class="feedbacks-item__name">
                                    <a href="#" class="blue-link hover-underline fz18">John Franklin</a>, client
                                </div>
                            </div>
                            <div class="uk-width-medium-1-2 standard-grey-text">
                                <p>Thanks a lot for your responsive theme. I was really impressed with your work, your
                                    solution is excellent! It’s no doubt that your company is worth admiring! I have
                                    experienced the fastest support ever. I would recommend you to my friends and
                                    collaborators. Thank you again and again!</p>
                            </div>
                        </div>
                    </div>
                    <div class="feedbacks-item">
                        <div class="uk-grid">
                            <div class="uk-width-medium-1-2 tac">
                                <div class="feedbacks-item__avatar-wrapper mb30">
                                    <img alt="" src="http://placehold.it/200x200" class="feedbacks-item__avatar"/>
                                </div>
                                <div class="feedbacks-item__name">
                                    <a href="#" class="blue-link hover-underline fz18">John Franklin</a>, client
                                </div>
                            </div>
                            <div class="uk-width-medium-1-2 standard-grey-text">
                                <p>Thanks a lot for your responsive theme. I was really impressed with your work, your
                                    solution is excellent! It’s no doubt that your company is worth admiring! I have
                                    experienced the fastest support ever. I would recommend you to my friends and
                                    collaborators. Thank you again and again!</p>
                            </div>
                        </div>
                    </div>
                    <div class="feedbacks-item">
                        <div class="uk-grid">
                            <div class="uk-width-medium-1-2 tac">
                                <div class="feedbacks-item__avatar-wrapper mb30">
                                    <img alt="" src="http://placehold.it/200x200" class="feedbacks-item__avatar"/>
                                </div>
                                <div class="feedbacks-item__name">
                                    <a href="#" class="blue-link hover-underline fz18">John Franklin</a>, client
                                </div>
                            </div>
                            <div class="uk-width-medium-1-2 standard-grey-text">
                                <p>Thanks a lot for your responsive theme. I was really impressed with your work, your
                                    solution is excellent! It’s no doubt that your company is worth admiring! I have
                                    experienced the fastest support ever. I would recommend you to my friends and
                                    collaborators. Thank you again and again!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slider-item="previous"></a>
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slider-item="next"></a>
        </div>
    </div>
</div>
<!-- // END feedbacks -->