<!-- START feedbacks -->
<div class="feedbacks">
    <div class="uk-container uk-container-center">
        <div class="block-title blue">Что говорят люди о нас</div>
        <div class="feedbacks-units">
            <div class="feedbacks-item">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-2">
                        <div class="feedbacks-item__avatar-wrapper">
                            <img alt="" src="http://placehold.it/200x200" class="feedbacks-item__avatar" />
                        </div>
                        <div class="feedbacks-item__name">
                            <a href="#" class="blue-link hover-underline">John Franklin</a>, client
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <p>Thanks a lot for your responsive theme. I was really impressed with your work, your solution is excellent! It’s no doubt that your company is worth admiring! I have experienced the fastest support ever. I would recommend you to my friends and collaborators. Thank you again and again!</p>
                    </div>
                </div>
            </div>
            <div class="feedbacks-item">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-2">
                        <div class="feedbacks-item__avatar-wrapper">
                            <img alt="" src="http://placehold.it/200x200" class="feedbacks-item__avatar" />
                        </div>
                        <div class="feedbacks-item__name">
                            <a href="#" class="blue-link hover-underline">John Franklin</a>, client
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <p>Thanks a lot for your responsive theme. I was really impressed with your work, your solution is excellent! It’s no doubt that your company is worth admiring! I have experienced the fastest support ever. I would recommend you to my friends and collaborators. Thank you again and again!</p>
                    </div>
                </div>
            </div>
            <div class="feedbacks-item">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-2">
                        <div class="feedbacks-item__avatar-wrapper">
                            <img alt="" src="http://placehold.it/200x200" class="feedbacks-item__avatar" />
                        </div>
                        <div class="feedbacks-item__name">
                            <a href="#" class="blue-link hover-underline">John Franklin</a>, client
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <p>Thanks a lot for your responsive theme. I was really impressed with your work, your solution is excellent! It’s no doubt that your company is worth admiring! I have experienced the fastest support ever. I would recommend you to my friends and collaborators. Thank you again and again!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // END feedbacks -->