<form class="footer-form" action="#">
    <div class="block-title mb30">
        Напишите нам
    </div>
    <div class="footer-form__wrapper uk-grid">
        <div class="uk-width-small-1-2">
            <div class="footer-form__address fz18 blue-color mb20">
                г. Усть-Каменогорск, Ворошилова 62 офис 26
            </div>
            <div class="footer-form__phone fz24 mb20">
                <a href="#" class="blue-link"><i class="icon-phone"></i> 8 701 532 34 74</a>
            </div>
            <div class="footer-form__workhours standard-grey-text mb30">
                Пн-Пт, с 9:00 до 18:00
            </div>
            <div class="footer-form__soc">
                <a href="#" class="footer-soc dib mr10"><i class="fz24 icon-facebook"></i></a>
                <a href="#" class="footer-soc dib mr10"><i class="fz24 icon-twitter"></i></a>
                <a href="#" class="footer-soc dib mr10"><i class="fz24 icon-skype"></i></a>
                <a href="#" class="footer-soc dib mr10"><i class="fz24 icon-gplus"></i></a>
                <a href="#" class="footer-soc dib mr10"><i class="fz24 icon-instagram"></i></a>
                <a href="#" class="footer-soc dib mr10"><i class="fz24 icon-vimeo"></i></a>
            </div>
        </div>
        <div class="uk-width-small-1-2">
            <p><input type="text" name="name" placeholder="Ваше имя"></p>
            <p><input type="text" name="phone" placeholder="Ваш телефон"></p>
            <p><input type="text" name="email" placeholder="Ваш E-mail"></p>
            <p><textarea name="message" placeholder="Ваше сообщение"></textarea></p>
            <p>
                <button type="submit" class="blue-button">Отправить</button>
            </p>
        </div>
    </div>
</form>