<form class="footer-form" action="#">
    <div class="footer-form__wrapper uk-grid">
        <div class="uk-width-small-1-2">
            <div class="footer-block-title">
                Напишите нам
            </div>
            <div class="footer-form__address">
                г. Усть-Каменогорск, Ворошилова 62 офис 26
            </div>
            <div class="footer-form__phone">
                <i class="icon-phone"></i> 8 701 532 34 74
            </div>
            <div class="footer-form__workhours">
                Пн-Пт, с 9:00 до 18:00
            </div>
            <div class="footer-form__soc">
                <a href="#" class="footer-soc"><i class="icon-soc__fb"></i></a>
                <a href="#" class="footer-soc"><i class="icon-soc__tw"></i></a>
                <a href="#" class="footer-soc"><i class="icon-soc__skype"></i></a>
                <a href="#" class="footer-soc"><i class="icon-soc__gplus"></i></a>
                <a href="#" class="footer-soc"><i class="icon-soc__insta"></i></a>
                <a href="#" class="footer-soc"><i class="icon-soc__vimeo"></i></a>
            </div>
        </div>
        <div class="uk-width-small-1-2">
            <p><input type="text" name="name" placeholder="Ваше имя"></p>
            <p><input type="text" name="phone" placeholder="Ваш телефон"></p>
            <p><input type="text" name="email" placeholder="Ваш E-mail"></p>
            <p><textarea name="message" placeholder="Ваше сообщение"></textarea></p>
            <p>
                <button type="submit">Отправить</button>
            </p>
        </div>
    </div>
</form>