<!-- START last-works -->
<div class="last-works">
    <div class="uk-container uk-container-center">
        <div class="uk-grid last-works__header">
            <div class="uk-width-medium-1-1">
                <div class="block-title black">Последние работы</div>
            </div>
            <div class="uk-width-medium-1-2">
                <ul class="last-works__category-listing">
                    <li class="last-works__category-item"><a class="last-works__category-link" href="#">Верстка</a></li>
                    <li class="last-works__category-item"><a class="last-works__category-link" href="#">Сайты Визитки</a></li>
                    <li class="last-works__category-item"><a class="last-works__category-link" href="#">Корпоративные порталы</a></li>
                    <li class="last-works__category-item"><a class="last-works__category-link" href="#">Интернет магазины</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- START last-works__grid -->
    <div class="last-works-__rid">
        <div data-uk-grid class="fullscreen-images-wrapper">
            <div class="uk-width-1-4">
                <img alt="" src="http://placehold.it/200x300"/>
            </div>
            <div class="uk-width-1-4">
                <img alt="" src="http://placehold.it/200x100"/>
            </div>
            <div class="uk-width-1-4">
                <img alt="" src="http://placehold.it/200x500"/>
            </div>
            <div class="uk-width-1-4">
                <img alt="" src="http://placehold.it/200x600"/>
            </div>
            <div class="uk-width-1-4">
                <img alt="" src="http://placehold.it/200x100"/>
            </div>
            <div class="uk-width-1-4">
                <img alt="" src="http://placehold.it/200x200"/>
            </div>
            <div class="uk-width-1-4">
                <img alt="" src="http://placehold.it/200x120"/>
            </div>
            <div class="uk-width-1-4">
                <img alt="" src="http://placehold.it/200x300"/>
            </div>
        </div>
    </div>
    <!-- // END last-works__grid -->
</div>
<!-- // END last-works -->