<!-- START last-works -->
<div class="last-works section">
    <div class="uk-container uk-container-center">
        <div class="uk-grid last-works__header mb30">
            <div class="uk-width-medium-1-2">
                <div class="block-title black">Последние работы</div>
            </div>
            <div class="uk-width-medium-1-2 tar">
                <ul class="last-works__category-listing fz36 blue-color uk-vertical-align-bottom">
                    <li class="last-works__category-item">
                        <i title="Сайты визитки" class="tooltip icon-home"></i>
                    </li>
                    <li class="last-works__category-item">
                        <i title="Кокпоративные сайты" class="tooltip icon-building-filled"></i>
                    </li>
                    <li class="last-works__category-item">
                        <i title="Интернет магазины" class="tooltip icon-shopping-basket"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- START last-works__grid -->
    <div class="last-works__grid">
        <div data-uk-grid class="fz0">
            <div class="uk-width-medium-1-2 uk-width-large-1-4 last-works__height-1-3">
                <img alt="" src="http://placehold.it/200x300"/>
                <div class="last-works__pop">
                    <i class="icon-zoom-in"></i>
                </div>
            </div>
            <div class="uk-width-medium-1-2 uk-width-large-1-4 last-works__height-2-3">
                <img alt="" src="http://placehold.it/200x100"/>
                <div class="last-works__pop">
                    <i class="icon-zoom-in"></i>
                </div>
            </div>
            <div class="uk-width-medium-1-2 uk-width-large-1-4 last-works__height-2-3">
                <img alt="" src="http://placehold.it/200x500"/>
                <div class="last-works__pop">
                    <i class="icon-zoom-in"></i>
                </div>
            </div>
            <div class="uk-width-medium-1-2 uk-width-large-1-4 last-works__height-1-3">
                <img alt="" src="http://placehold.it/200x600"/>
                <div class="last-works__pop">
                    <i class="icon-zoom-in"></i>
                </div>
            </div>
            <div class="uk-width-medium-1-2 uk-width-large-1-4 last-works__height-2-3">
                <img alt="" src="http://placehold.it/200x100"/>
                <div class="last-works__pop">
                    <i class="icon-zoom-in"></i>
                </div>
            </div>
            <div class="uk-width-medium-1-2 uk-width-large-1-4 last-works__height-1-3">
                <img alt="" src="http://placehold.it/200x200"/>
                <div class="last-works__pop">
                    <i class="icon-zoom-in"></i>
                </div>
            </div>
            <div class="uk-width-medium-1-2 uk-width-large-1-4 last-works__height-1-3">
                <img alt="" src="http://placehold.it/200x120"/>
                <div class="last-works__pop">
                    <i class="icon-zoom-in"></i>
                </div>
            </div>
            <div class="uk-width-medium-1-2 uk-width-large-1-4 last-works__height-2-3">
                <img alt="" src="http://placehold.it/200x300"/>
                <div class="last-works__pop">
                    <i class="icon-zoom-in"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- // END last-works__grid -->
</div>
<!-- // END last-works -->