<!-- START pricing-widget -->
<div class="pricing-widget">
    <div class="uk-container-center uk-container">
        <div class="block-title black">Simple Pricing</div>
        
        <div class="uk-grid uk-grid-match">
            <div class="uk-width-medium-1-2">
                <div class="pricing-widget__title black-color">Basic package</div>
                <div class="uk-text-center">
                    <div class="dib pricing-widget__price-form">From</div>
                    <div class="dib pricing-widget__price-number">$399</div>
                </div>
                <ul class="pricing-widget__list-elements tal">
                    <li class="pricing-widget__list-element">WordPress Installation</li>
                    <li class="pricing-widget__list-element">25,000 visits / mo.</li>
                    <li class="pricing-widget__list-element">Unlimited Data Transfer</li>
                </ul>
            </div>
            <div class="uk-width-medium-1-2">
                <div class="pricing-widget__title black-color">Basic package</div>
                <div class="uk-text-center">
                    <div class="dib pricing-widget__price-form">From</div>
                    <div class="dib pricing-widget__price-number">$399</div>
                </div>
                <ul class="pricing-widget__list-elements tal">
                    <li class="pricing-widget__list-element">WordPress Installation</li>
                    <li class="pricing-widget__list-element">25,000 visits / mo.</li>
                    <li class="pricing-widget__list-element">Unlimited Data Transfer</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- // END pricing-widget -->