<!-- START pricing-widget -->
<div class="pricing-widget section">
    <div class="uk-container-center uk-container">
        <div class="block-title black mb30">Simple Pricing</div>
        
        <div class="uk-grid uk-grid-match">
            <div class="uk-width-medium-1-2 tac pricing-widget__item">
                <div class="pricing-widget__item-inner">
                    <div class="pricing-widget__title fz30 mb20 black-color">Basic package</div>
                    <div class="uk-text-center white-color mb20">
                        <div class="dib pricing-widget__price-form vat lh1">From</div>
                        <div class="dib pricing-widget__price-number fz60 vat lh1">$399</div>
                    </div>
                    <ul class="pricing-widget__list-elements fz18 tal white-color">
                        <li class="pricing-widget__list-element"><i class="icon-ok-circled2 mr10 fz24"></i> WordPress Installation</li>
                        <li class="pricing-widget__list-element"><i class="icon-ok-circled2 mr10 fz24"></i> 25,000 visits / mo.</li>
                        <li class="pricing-widget__list-element"><i class="icon-ok-circled2 mr10 fz24"></i> Unlimited Data Transfer</li>
                    </ul>
                </div>
            </div>
            <div class="uk-width-medium-1-2 tac pricing-widget__item">
                <div class="pricing-widget__item-inner">
                    <div class="pricing-widget__title fz30 mb20 black-color">Basic package</div>
                    <div class="uk-text-center white-color mb20">
                        <div class="dib pricing-widget__price-form vat lh1">From</div>
                        <div class="dib pricing-widget__price-number fz60 vat lh1">$399</div>
                    </div>
                    <ul class="pricing-widget__list-elements fz18 tal white-color">
                        <li class="pricing-widget__list-element"><i class="icon-ok-circled2 mr10 fz24"></i> WordPress Installation</li>
                        <li class="pricing-widget__list-element"><i class="icon-cancel-circled2 mr10 fz24"></i> 25,000 visits / mo.</li>
                        <li class="pricing-widget__list-element"><i class="icon-cancel-circled2 mr10 fz24"></i> Unlimited Data Transfer</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // END pricing-widget -->