<!-- START works-statistics -->
<div class="works-statistics uk-text-center section">
    <div class="uk-grid uk-grid-match">
        <div class="uk-width-medium-1-2 uk-width-large-1-4 works-statistics__item tac white-color">
            <p class="mb20"><i class="fz100 icon-glasses"></i></p>
            <p class="works-statistics-number fz30 mb15">258</p>
            <p class="works-statistics-name fz18">Designs</p>
        </div>
        <div class="uk-width-medium-1-2 uk-width-large-1-4 works-statistics__item tac white-color">
            <p class="mb20"><i class="fz100 icon-star-empty"></i></p>
            <p class="works-statistics-number fz30 mb15">258</p>
            <p class="works-statistics-name fz18">Projects</p>
        </div>
        <div class="uk-width-medium-1-2 uk-width-large-1-4 works-statistics__item tac white-color">
            <p class="mb20"><i class="fz100 icon-share"></i></p>
            <p class="works-statistics-number fz30 mb15">258</p>
            <p class="works-statistics-name fz18">Trials</p>
        </div>
        <div class="uk-width-medium-1-2 uk-width-large-1-4 works-statistics__item tac white-color">
            <p class="mb20"><i class="fz100 icon-umbrella"></i></p>
            <p class="works-statistics-number fz30 mb15">258</p>
            <p class="works-statistics-name fz18">Happy clients</p>
        </div>
    </div>
</div>
<!-- // END works-statistics -->