<!-- START works-statistics -->
<div class="works-statistics uk-text-center">
    <div class="uk-grid uk-grid-match">
        <div class="uk-width-medium-1-2 uk-width-large-1-4">
            <p><i class="icon-works-statistic-1"></i></p>
            <p class="works-statistics-number">258</p>
            <p class="works-statistics-name">Designs</p>
        </div>
        <div class="uk-width-medium-1-2 uk-width-large-1-4">
            <p><i class="icon-works-statistic-1"></i></p>
            <p class="works-statistics-number">258</p>
            <p class="works-statistics-name">Designs</p>
        </div>
        <div class="uk-width-medium-1-2 uk-width-large-1-4">
            <p><i class="icon-works-statistic-1"></i></p>
            <p class="works-statistics-number">258</p>
            <p class="works-statistics-name">Designs</p>
        </div>
        <div class="uk-width-medium-1-2 uk-width-large-1-4">
            <p><i class="icon-works-statistic-1"></i></p>
            <p class="works-statistics-number">258</p>
            <p class="works-statistics-name">Designs</p>
        </div>
    </div>
</div>
<!-- // END works-statistics -->