@import "../bower_components/uikit/scss/uikit-variables"
@import "../bower_components/uikit/scss/uikit-mixins"
@import "../bower_components/uikit/scss/uikit"
@import _vars


/* framework integration */

.tac
    @extend .uk-text-center

.tal
    @extend .uk-text-left

.tar
    @extend .uk-text-right

.db
    @extend .uk-display-block

.ttu
    @extend .uk-text-uppercase

.dib
    @extend .uk-display-inline-block

.blue-color
    color: $blue
    
.blue-link
    color: $blue

.hover-underline
    text-decoration: none

    &:hover
        text-decoration: underline

.blue-button
    background: $blue

.fullscreen-images-wrapper
    img
        width: 100%

.fullscreen-image
    width: 100%