<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="3ex8WCC6sgAWPK1ymNhlBdBKvjK4fGjWRnZXyBS_I30" />
    <meta name="keywords" content="детский домашний спортивный комплекс kampfer helena wall maxi дск отзывы купить">
    <meta name="description" content="Здесь можно быстро купить ДСК Kampfer Helena Wall. Отзывы говорят: это – лучший домашний комплекс для спортивных занятий ребенка. Предлагаем выгодные цены, выбор аксессуаров, услуги доставки и сборки">

    <title>Qube WebStudio</title>


    <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>

    <!-- Stylesheets -->
    {% include "stylesheets.twig" %}
</head>
<body>
    <div class="site-container">
        <!-- Header block -->
        {% include "header.twig" %}
        <!-- Header block end -->

        <!-- Block content -->
        {% block content %}{% endblock %}
        <!-- Block content end -->

        <!-- Footer block -->
        {% include "footer.twig" %}
        <!-- Footer block end -->
    </div>

    <!-- Scripts -->
    {% include "scripts.twig" %}

</body>
</html>